@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "TttkbDikTemelAbece";
  src: url("/fonts/TTKBDikTemelAbece.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TttkbDikTemelAbece";
  src: url("/fonts/TTKBDikTemelAbeceBody.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TttkbDikTemelAbece";
  src: url("/fonts/TTKBDikTemelAbece-Bold.ttf") format("truetype");
  font-weight: 600 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TttkbDikTemelAbece";
  src: url("/fonts/TTKBDikTemelAbece-Bold.ttf") format("truetype");
  font-weight: 800 900;
  font-style: normal;
  font-display: swap;
}

.container {
  @apply max-w-[1120px] mx-auto;
}

.landing-container {
  @apply max-w-6xl mx-auto;
}
